<!doctype html>
<html>
<head>
<title>Ansible Demo Website
</title> 
</head>

<body BGCOLOR="#F4F4FF" text="#000000" link="#0000FF" vlink="#7F0F9F" alink="#FF0000">

<center>
<h1> This ngnix website was configured using Ansible </h1>
<p>

<a href="https://docs.ansible.com">Learn to automate with Ansible!</a>
Ansible offers open-source automation that is simple, flexible, and powerful.
<p>

The Ansible logo should appear below this line.
<br> 
<IMG SRC="image/{{ website_image }}"
style="max-width:100%">
</center>

</body>
</html>